In [1]:
select top 10 * from AgeGroup

LocationType,Location,Age group,TimeFrame,DataFormat,Data
Nation,United States,0 to 4,2018,Number,274169.00
Nation,United States,5 to 10,2018,Number,215682.00
Nation,United States,11 to 13,2018,Number,89065.00
Nation,United States,14 to 17,2018,Number,94602.00
Nation,United States,less than 18,2018,Number,673518.00
Nation,United States,14 to 17,2018,Percent,0.14
Nation,United States,less than 18,2018,Percent,1.00
Nation,United States,11 to 13,2018,Percent,0.13
Nation,United States,5 to 10,2018,Percent,0.32
Nation,United States,0 to 4,2018,Percent,0.41

In [2]:
select top 10 * from AgeGroup

LocationType,Location,Age group,TimeFrame,DataFormat,Data
Nation,United States,0 to 4,2018,Number,274169.00
Nation,United States,5 to 10,2018,Number,215682.00
Nation,United States,11 to 13,2018,Number,89065.00
Nation,United States,14 to 17,2018,Number,94602.00
Nation,United States,less than 18,2018,Number,673518.00
Nation,United States,14 to 17,2018,Percent,0.14
Nation,United States,less than 18,2018,Percent,1.00
Nation,United States,11 to 13,2018,Percent,0.13
Nation,United States,5 to 10,2018,Percent,0.32
Nation,United States,0 to 4,2018,Percent,0.41